<p id="notice"><%= notice %></p>

<h1>Listing Wrestlers</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Real name</th>
      <th>Wrestling name</th>
      <th>Age</th>
      <th>Division</th>
      <th>Turn</th>
      <th>Wage</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wrestlers.each do |wrestler| %>
      <tr>
        <td><%= image_tag wrestler.image.url(:thumb) %></td>
        <td><%= wrestler.real_name %></td>
        <td><%= wrestler.wrestling_name %></td>
        <td><%= wrestler.age %></td>
        <td><%= wrestler.division %></td>
        <td><%= wrestler.turn %></td>
        <td><%= wrestler.wage %></td>
        <td><%= link_to 'Show', wrestler %></td>
        <td><%= link_to 'Edit', edit_wrestler_path(wrestler) %></td>
        <td><%= link_to 'Destroy', wrestler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wrestler', new_wrestler_path %>
