<p id="notice"><%= notice %></p>

<%= image_tag @wrestler.image.url(:thumb) %>

<p>
  <strong>Real name:</strong>
  <%= @wrestler.real_name %>
</p>

<p>
  <strong>Wrestling name:</strong>
  <%= @wrestler.wrestling_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @wrestler.age %>
</p>

<p>
  <strong>Division:</strong>
  <%= @wrestler.division %>
</p>

<p>
  <strong>Turn:</strong>
  <%= @wrestler.turn %>
</p>

<p>
  <strong>Wage:</strong>
  <%= @wrestler.wage %>
</p>


<%= link_to 'Edit', edit_wrestler_path(@wrestler) %> |
<%= link_to 'Back', wrestlers_path %>
