<p id="notice"><%= notice %></p>

<h1>Listing Titles</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Division</th>
      <th>Prestige</th>
      <th>Wrestler</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @titles.each do |title| %>
      <tr>
        <td><%= image_tag title.image.url(:thumb) %></td>
        <td><%= title.name %></td>
        <td><%= title.division %></td>
        <td><%= title.prestige %></td>
        <td><%= title.wrestlers%></td>


        <td><%= link_to 'Show', title %></td>
        <td><%= link_to 'Edit', edit_title_path(title) %></td>
        <td><%= link_to 'Destroy', title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Title', new_title_path %>
