<p id="notice"><%= notice %></p>
<%= image_tag @title.image.url(:thumb) %>
<p>
  <strong>Name:</strong>
  <%= @title.name %>
</p>

<p>
  <strong>Division:</strong>
  <%= @title.division %>
</p>

<p>
  <strong>Prestige:</strong>
  <%= @title.prestige %>
</p>


<p>
  <strong>Wrestler:</strong>
  <%= @wrestler %>
</p>

<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
