<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Show" %><br>
    <%= f.collection_select(:show_id, Show.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :match_category %><br>
    <%= f.text_field :match_category %>
  </div>
  <div class="field">
    <%= f.label "Wrestler 1" %><br>
    <%= f.collection_select(:wrestler_id, Wrestler.all, :id, :wrestling_name) %>
  </div>
  <div class="field">
    <%= f.label "Wrestler 2" %><br>
    <%= f.collection_select(:wrestler_id, Wrestler.all, :id, :wrestling_name) %>
  </div>
  <div class="field">
    <%= f.label "Championship" %><br>
    <%= f.collection_select(:title_id, Title.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label "Winner" %><br>
    <%= f.collection_select(:wrestler_id, Wrestler.all, :id, :wrestling_name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
