<p id="notice"><%= notice %></p>

<h1>Listing Matches</h1>

<table>
  <thead>
    <tr>
      <th>Show</th>
      <th>Match category</th>
      <th>Wrestler</th>
      <th>Wrestler</th>
      <th>Title</th>
      <th>Notes</th>
      <th>Wrestler</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.show %></td>
        <td><%= match.match_category %></td>
        <td><%= match.wrestler %></td>
        <td><%= match.wrestler %></td>
        <td><%= match.title %></td>
        <td><%= match.notes %></td>
        <td><%= match.wrestler %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
