<p id="notice"><%= notice %></p>

<p>
  <strong>Show:</strong>
  <%= @match.show %>
</p>

<p>
  <strong>Match category:</strong>
  <%= @match.match_category %>
</p>

<p>
  <strong>Wrestler:</strong>
  <%= @match.wrestler %>
</p>

<p>
  <strong>Wrestler:</strong>
  <%= @match.wrestler %>
</p>

<p>
  <strong>Title:</strong>
  <%= @match.title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @match.notes %>
</p>

<p>
  <strong>Wrestler:</strong>
  <%= @match.wrestler %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
