<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @promotion.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @promotion.size %>
</p>

<p>
  <strong>Established:</strong>
  <%= @promotion.established %>
</p>

<p>
  <strong>Cash:</strong>
  <%= @promotion.cash %>
</p>
<a href="/shows/new">Create Show</a>
<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
