<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @show.name %>
</p>

<p>
  <strong>Running time:</strong>
  <%= @show.running_time %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @show.grade %>
</p>

<p>
  <strong>Promotion:</strong>
  <%= @show.promotion %>
</p>

<a href="/matches/new">Create Match</a>
<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
